body * {
	font-family: "system-ui", sans-serif;
	position: relative;
}

h5 {
	font-weight: bold;
	margin-top: 10px;
}

.col-6 {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

textarea {
	border: none !important;
	resize: none;
}

#avatar,
.avatar {
	height: 49px;
	width: 49px;
	border-radius: 50%;
	margin-right: 7px;
	border: 1px solid #ddd;
}

.fb {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}

.fb-column {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	width: 100vw;
}

.fb-start {
	display: flex;
	justify-content: flex-start;
}

#tweet {
	border-radius: 30px;
	border: none;
	background-color: #1da1f2;
	font-weight: bold;
	width: 100px;
}

button.mdi {
	color: #1da1f2;
	background-color: #fff;
	border: none;
}

form {
	border-bottom: 7px solid #ddd;
}

h6 {
	font-weight: bold;
}

aside {
	padding: 10px 0;
	border-bottom: 1px solid #eee;
	display: flex;
	justify-content: flex-start;
}
aside p {
	font-size: 15px;
}

.btn-secondary {
	color: #1da1f2;
	background-color: #fff;
	border-radius: 50% !important;
}

.btn-secondary:hover {
	color: #1da1f2;
	background-color: #dff4f7;
	border-radius: 50% !important;
}

#inserts button {
	font-size: 20px !important;
}

aside i {
	font-size: 32px;
}

#leftside.list-group {
	margin-top: 70px;
}

.list-group-item {
	border: 0;
	font-size: 20px;
	font-weight: bold;
}

.formatted-tweet {
	display: flex;
	flex-direction: column;
	padding: 7px;
}

.formatted-tweet a {
	color: #000;
}

.username {
	color: #aaa;
	font-weight: normal;
}

.formatted-tweet img {
	width: 100%;
}

.hide {
	display: none;
}

.blue {
	color: #1b95e0 !important;
}

#reactions button {
	color: grey;
	font-size: 20px;
}

#uploadPic {
	width: 40px;
	height: 40px;
	background-color: #fff;
	color: #1da1f2;
	border: none;
	font-size: 22px;
	opacity: 1;
	padding-left: 18px;
	margin-right: 15px;
}

.popup {
	position: absolute;
	padding: 2rem;
	/* width: 500px; */
	top: 10%;
	left: 30%;
	background: white;
	border: #000 1px solid;
	z-index: 999;
}
